<!DOCTYPE html>

<head>
  <title>Prompt Generator</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='ai.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='ai.png') }}" class="icon" />
  <h3>Super Promtp Generator</h3>
  <form action="/" method="post">
    <input type="text" name="prompt" placeholder="Enter a basic prompt" required />
    <input type="submit" value="Generate super prompt 😎" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>